extends ./layout/index

block contenido
    section.section
        .parallax-container
            .parallax
                img(src="img/fondo-tours.png")
        
    include layout/populares

    include layout/redes

    include layout/contacto