setion#contact.section.section-contact.scrollspy
  .container
    .row
      .col.s12.m6
        .card-panel.teal.white-text.center
          i.material-icons email
          h5 Contacta con nosotros para reservar
          
        ul.collection.with-header
          li.collection-header
            h4 Ubicaci&oacute;n
          li.collection-item Agencia Iquitos Cultural
          li.collection-item Direcci&oacute;n: Pevas 134
          li.collection-item Iquitos - Per&uacute;
      .col.s12.m6
        .card-panel.grey.lighten-3
          h5 Por favor llene este formulario
          .input-field
            input(type='text' placeholder='Nombre')
          .input-field
            input(type='text' placeholder='Email')
          .input-field
            input(type='text' placeholder='Móvil')
          .input-field
            textarea.materialize-textarea(placeholder='Ingrese mensaje')
          input.btn(type='submit' value='Enviar')