ection#gallery.section.section-gallery.scrollspy
  .container
    h4.center
      | Galer&iacute;a de 
      span.teal-text Fotos
    .row
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/cwLlrqw9Eo4/1600x900' alt='')
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/krry5aQViaY/1600x900' alt='')
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/cwLlrqw9Eo4/1600x900' alt='')
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/krry5aQViaY/1600x900' alt='')
    .row
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/nOpn-ScYv6A/1600x900' alt='')
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/dWxMSLBpuFs/1600x900' alt='')
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/nOpn-ScYv6A/1600x900' alt='')
      .col.s12.m3
        img.materialboxed.responsive-img(src='https://source.unsplash.com/dWxMSLBpuFs/1600x900' alt='')
