.navbar-fixed
  nav.teal
    .container
      .nav-wrapper
        a.brand-logo(href='/') Iquitos Cultural
        a.sidenav-trigger(href='#' data-target='mobile-nav')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a(href='/') Inicio
          li
            a(href='/nosotros') Nosotros
          li
            a(href='/tours') Tours
          li
            a(href='/#gallery') Galer&iacute;a
          li
            a(href='#contact') Contacto
ul#mobile-nav.sidenav
  li
    a(href='/') Inicio
  li
    a(href='/nosotros') Nosotros
  li
    a(href='/tours') Tours
  li
    a(href='/#gallery') Galer&iacute;a
  li
    a(href='#contact') Contacto