section.slider
  ul.slides
    li
      img(src='img/iquitos-tour-img1.jpg')
      .caption.center-align
        h2 Busca las vacaciones de tus sue&ntilde;os
        h5.light.grey-text.text-lighten-3.hide-on-small-only Here&apos;s our small slogan.
    li
      img(src='img/iquitos-tour-img2.jpg')
      .caption.left-align
        h2 Trabajamos con todos los Presupuestos
        h5.light.grey-text.text-lighten-3.hide-on-small-only Here&apos;s our small slogan.
    li
      img(src='img/iquitos-tour-img3.jpg')
      .caption.right-align
        h2 Planes Grupales o Individuales
        h5.light.grey-text.text-lighten-3.hide-on-small-only Here&apos;s our small slogan.
